.my-trades-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.my-trades-content {
  width: 330px;
  height: 220px;
  padding: 10px 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.my-trades-content h3 {
  text-align: center;
}
.my-trades-content-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.btn-mytrades {
  margin-right: 10px;
}

.btn-trade-list-text-to-employee{
  width: 100%;
}

.my-trades-description {
  padding: 10px 0px;
  margin-bottom: 20px;
}
