.trade-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.trade-list-content {
  width: 330px;
  max-height: 650px;
  padding: 10px 5px;
  /* display: flex;
    flex-direction: column; */
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
}
.trade-list-content h3 {
  text-align: center;
  margin-bottom: 15px;
}

.trade-more-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.btn-trade-list{
    margin-bottom: 15px;
}

.btn-trade-list-text-to-employee{
  margin-bottom: 10px;
}